.homeContainer {
    text-align: left;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    height: 400px;
    width: 700px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
}

.welcomeText {
    font-size: 25px;
}

.overView {
    font-weight: 500;
}
